<div class="container">
  <img class="avatar" [src]="author.avatarUrl|| 'https://images-platform.99static.com//5_oXjjUVqCOk-6snmE7s_cdr-dI=/229x0:1041x812/fit-in/590x590/99designs-contests-attachments/47/47482/attachment_47482097'">
  <div class="details" fxLayout="column" >
    <div class="action" fxLayout="row" fxLayoutAlign="flex-end">
      <button nbButton status="primary">{{isUser ? 'Edit profile' : 'Follow'}}</button>
    </div>

    <div class="metadata" fxLayout="column" fxLayoutAlign=" center">
      <h4>{{ author.userName }}</h4>
    </div>
  </div>
</div>