.container h1 {
  font-weight: 400;
  font-size: 3rem;
}

form {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
  width: 50%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field p {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}

.danger-txt {
  color: #cd2762;
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  form {
    width: 70%;
  }
}

@media (max-width: 700px) {
  form {
    width: 90%;
  }
}
