<nb-card style="margin-bottom: 0;">
  <nb-card-body>
    <div fxLayout="row" fxLayoutGap="10px">
      <img [src]="post.author.avatarUrl || 'https://images-platform.99static.com//5_oXjjUVqCOk-6snmE7s_cdr-dI=/229x0:1041x812/fit-in/590x590/99designs-contests-attachments/47/47482/attachment_47482097'" 
        [alt]="post.author.userName" 
        style="width: 50px; height: 50px; border-radius: 50%;" />
      
      <div fxLayout="column" class="content-container" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="center" class="metadata-container">
          <p [routerLink]="['/authors', post.author.id]" style="cursor: pointer;">
            {{ post.author.userName }}
          </p>
          <p style="color: gray;">{{ post.createdAt | date }}</p>
        </div>
        
        <h3 class="title" [routerLink]="['/posts', post.id]">{{ post.title }}</h3>
        
        <sm-tag-list [tags]="post.tags"></sm-tag-list>
      </div>
    </div>
  </nb-card-body>
</nb-card>
