
<div *ngIf="list" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-between" >
    <h1 style="margin: 0;">Latest</h1>
  </div>

  <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="fetchNextList.emit()" 
    fxLayout="column" fxLayoutGap="10px">
    <nb-list-item *ngFor="let post of list">
      <sm-post-card [post]="post" style="width: 100%;"></sm-post-card>
    </nb-list-item>
  </nb-list>
</div>

<p *ngIf="loading" style="text-align: center;">Loading...</p>

