<div *ngIf="details" fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="15px">
    <img [src]="details.author.avatarUrl || 'https://images-platform.99static.com//5_oXjjUVqCOk-6snmE7s_cdr-dI=/229x0:1041x812/fit-in/590x590/99designs-contests-attachments/47/47482/attachment_47482097'"
    [alt]="details.author.userName" 
    style="width: 50px; height: 50px; border-radius: 50%;" />

    <div fxLayout="column" class="metadata" fxLayoutGap="5px">
      <p [routerLink]="['/authors', details.author.id]" class="author-name" style="cursor: pointer;">
        {{ details.author.userName }}
      </p>
      <div>
        <p class="track-txt">Posted on {{  details.createdAt | date }}</p>
        <p *ngIf="details.updatedAt" class="track-txt">Updated on {{  details.updatedAt | date }}</p>
      </div>
    </div>
  </div>
  
  <div fxLayout="column" fxLayoutGap="20px">
    <h1 class="title">{{ details.title }}</h1>
  
    <sm-tag-list [tags]="details.tags"></sm-tag-list>
  
    <div class="post-content" [innerHtml]="details.content | MarkdownToHtml | fitImageTag"></div>
  </div>
</div>