<form [formGroup]="creationForm" (submit)="submit.emit">
  <div fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="column" class="main-container">
      <input type="text" nbInput formControlName="title" fullWidth fieldSize="giant" 
        placeholder="New post title here..."
        style="background: none !important; font-size: 2.5rem;
          outline: none !important; border: none; padding: 30px;"/>
      <md-editor formControlName="content" height="60vh"></md-editor>
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
        <h5 class="creation-label">Publish:</h5>
        <nb-toggle formControlName="published"></nb-toggle>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign=" center">
        <h5 class="creation-label">Image:</h5>

        <div fxLayout="column" fxLayoutGap="5px" style="width: 100%">
          <input type="file" nbInput #fileListInput [disabled]="uploadingImage"
            (change)="uploadImage.emit(fileListInput.files)">

          <div fxLayout="row" fxLayoutGap="10px">
            <input type="text" [value]="imageUrl || ''" fullWidth
              nbInput disabled style="color: #222b45; cursor: text;">
            <button type="button" nbButton outline status="success" 
              [disabled]="!imageUrl" (click)="copyImageLink.emit(imageUrl || '')"
              nbPopover="Copied!" [nbSpinner]="uploadingImage">
              {{uploadingImage ? 'Uploading...' : 'Copy'}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row"  fxLayoutAlign="flex-end">
      <button nbButton status="primary" size="large" [nbSpinner]="creatingPost">
        Create
      </button>
    </div>
  </div>
</form>